<!-- <mat-form-field appearance="outline" class="asw-full-width">
    <mat-label>Card Number</mat-label>
    
    <mat-error >
        <mat-error *ngIf="withoutMaterialForm.invalid">
            <mat-icon aria-hidden="false">error</mat-icon> 
            Card is invalid
        </mat-error>
    </mat-error>
</mat-form-field> -->
<div class="asw-container">
    <input matInput
        [value]="cardNumber" 
        aswNumbersOnly
        [placeholder]="placeholder"
        [required]="required"
        [disabled]="disabled"
        [attr.maxlength]="maxNumberLimit"
        class="asw-card-input-default"
        (blur)="updateOnTouch()"
        (input)="updateIcon($event)">
    <img class="asw-suffix" [src]="cardIcon" width="51px" height="32px"/>
</div>