.asw-card-input-default {
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: 2.5em;
}
.asw-container {
    display: flex;
    position: relative;
}
.asw-suffix {
    position: absolute;
    top: -0.25rem;
    right: 0;
}