<form [formGroup]="aswCardForm">
    <mat-form-field appearance="outline" class="asw-full-width">
        <mat-label>Credit Card Number</mat-label>
            <asw-card formControlName="creditCard" name="card" [required]="required"></asw-card>
        <mat-error >
            <mat-error *ngIf="aswCardForm.invalid">
                <!-- <mat-icon aria-hidden="false">error</mat-icon>  -->
                Card number is not valid
            </mat-error>
        </mat-error>
    </mat-form-field>
</form>
